{% load static %}
<footer>
  <a href="https://www.ancportfolio.link" class="portfolio">Portfolio</a>
  <a href="https://github.com/anclark686" target="_blank" rel="noreferrer">
    <img
      alt="github"
      src="{% static 'icons/github.png' %}"
      class="social-icon"
    />
  </a>
  <a
    href="https://www.linkedin.com/in/anclark686/"
    target="_blank"
    rel="noreferrer"
  >
    <img
      alt="linkedin"
      src="{% static 'icons/linkedin.png' %}"
      class="social-icon"
    />
  </a>
  <p>&copy; Reyaly Tech {% now "Y" %}</p>
</footer>
